@{
    ViewBag.Title = "Programs - Dakota Gymnastics Academy";
}
<div id="body" class="margin-top-medium">
    <h2>@ViewBag.Title</h2>

    <p>Dakota Gymnastics Academy offers a wide variety of programs from parent-and-tots to competitive gymnastics. Our programming centres around four popular gymnastics disciplines: women’s artistic gymnastics, men’s artistic gymnastics, acrobatic gymnastics, and gym-for-all. </p>

    <p><b>The current schedule can always be found on the @Html.ActionLink("Registration Page", "Index", "Registration", null, null)!</b></p>

    <h6 style="color: red;">
        @*<p>Depending on demand of certain programs, we may make changes to accomodate as best we can.</p>*@
        <p>Not sure if your child will like gymnastics? We are also happy let your child come and try it out for a class. Drop-in rates ($15/class) apply and if you do decide to enroll, it would go towards the overall cost of registration.</p>
        <p>Please note that unless the class specifically states it is drop-in only, participants must register after dropping in for two classes if they wish to continue.</p>
    </h6>

    <h4 id="activeStart" class="jumptarget">Active Start Gymnastics</h4>
    
    <p>Active Start is the foundation for all gymnastics disciplines and is recognized by the International Olympic Committee as it plays a critical part in the development of all fundamental movement patterns and skills found in almost every sport including all the gymnastics disciplines. We offer the following programs:</p>

    <p><span class="dga-program-name">Parent-and-Tot (18-36 months):</span> The parent-and-tot program is designed for children 18 to 36-months of age. Having a parent/guardian with the toddler will help him/her feel safer and more comfortable; two prerequisites to help youngsters explore and learn. Classes are offered during the day and are 1-hour in length. The focus of the program is on an introduction to gymnastics movements (e.g., rolls, jumps, hangs, and trampolines). Throughout the program toddlers will develop flexibility, strength, sensory recognition, spatial awareness, motor skills, and social skills through interaction with same-age peers.</p>

    <p><span class="dga-program-name">Active Start Boys &amp; Girls Gymnastics (Age 3-5): </span> The active start program will provide a foundation for all gymnastics disciplines and will focus on the development of all fundamental movement patterns and skills found in almost every sport including gymnastics.</a></p>

    <h4>Women’s Artistic Gymnastics</h4>

    <p>Women’s Artistic Gymnastics is the most well-known and popular of all the gymnastics disciplines. Female athletes train on four apparatus, which include the vault, beam, uneven bars, and floor routines.</p>

    <p><span class="dga-program-name">Women's Recreational Artistic Gymnastics (Age 7+):</span> The overarching theme of the recreational stream is for all participants to have fun doing gymnastics in a safe and supportive environment. Girls will be grouped by age and level, and will be assessed at the end of the term through a detailed report card /level system. Participants will showcase their progress at the end of the program term.</p>

    <p><span class="dga-program-name">Women’s Advanced Recreational, Pre-competitive Program and Competitive:</span> For athletes looking to further advance their gymnastics skills, we are providing a pre-competitive program. According to Gymnastics Canada, the Junior Olympic program “was developed with the belief that all athletes, regardless of their potential, must have a solid foundation of basic skills in order to advance safely.” A higher level of commitment is required of both athletes and parents in the competitive program as they will train multiple times a week. Athletes will compete at local, regional, and provincial competitions. All athletes must be assessed before entry into the pre-competitive and competitive program. </p>

    <h4>Men’s Artistic Gymnastics</h4>

    <p>Men’s Artistic Gymnastics is based on power, strength, and control. It involves mastery of following six apparatus: floor exercises, pommel horse, rings, vault, parallel bars, and the horizontal bar. </p>

    <p><span class="dga-program-name">Men's Recreational Artistic Gymnastics (Age 7+):</span> The overarching theme of the recreational stream is for all participants to have fun doing gymnastics in a safe and supportive environment. Boys will be grouped by age and level, and will be assessed at the end of the term through a detailed report card/level system. Participants will showcase their progress at the end of the program term.</p>

    <p><span class="dga-program-name">Competitive and Pre-competitive Program:</span> For athletes looking to further advance their gymnastics skills, we are providing a pre-competitive program. A higher level of commitment is required of both athletes and parents in the pre-competitive program as they will train multiple times a week. All athletes must be assessed before entry into the competitive and pre-competitive programs.</p>

    <h4>Acrobatic Gymnastics</h4>

    <p>Acrobatics Gymnastics involves partnerships of gymnasts working together to perform acrobatic moves, dance, and tumbling within choreographic routines set to music. Partnerships are based on: women’s pairs, men’s pairs, mixed pair, women’s trio, and men’s four. Acrobatics Gymnastics is physically demanding as it requires strength, agility, flexibility, balance, and acrobatic skills; yet it also involves artistic ability and creativity, which provides an avenue for participants to express themselves and shine. Dakota Gymnastics Academy offers recreational and pre-competitive programs in Acrobatic gymnastics.</p>

    <p><span class="dga-program-name">Recreational Program (Age 6+):</span> This program provides classes for boys and girls, ages 6 year and older, and will focus on individual, partner and group gymnastics. Participants will learn basic floor gymnastics skills, choreography and routines, and will have an opportunity to showcase their progress at the end of the term. </p>

    <p><span class="dga-program-name">Pre-competitive Program (Age 6+):</span> This program is similar to the recreational program but with a greater focus on developing higher skills and more individual tumbling elements as well as more complex choreography, dance basics and routine presentation. A higher level of commitment is required of both athletes and parents in the competitive program as they will <i>train multiple times per week</i>. All athletes must be assessed before entry into the pre-competitive program.</p>
    <p><b style="color:darkblue">Note: Pre-competitive athelets in acrobatic gymnastics must train a minimum of two times per week.</b></p>

    <h4 id="adult-gymnastics">Field Trips</h4>

    <p>Dakota Gymnastics Academy also offers field trips for schools, day cares and any other organization looking to get their kids active during the day! Contact us for more information and to arrange a time that works for you!</p>

    @*<p><span class="dga-program-name">Tumble Tots:</span> This program is designed for children 3- to 4- years of age and will introduce children to basic gymnastics foundations (e.g., swings, statics/landings, rotations, springs, and tumbling) through a circuit format. The equipment will be kid-sized, although adult sized apparatuses will be used when appropriate. Classes will be 1-hour during the daytime.</p>

        <p><span class="dga-program-name">Pre School Drop-in:</span> The drop-in program is geared toward families who do not want to commit to regular programming. It is for children 2- to 5- years of age (children under 3 require parent participation). Children will be introduced to basic gymnastics foundations (e.g., swings, statics/landings, rotations, springs, and tumbling) through a circuit format. The equipment will be kid-sized, although adult sized apparatuses will be used when appropriate. Classes will be 1-hour during the daytime.</p>

        <p><span class="dga-program-name">KinderGym:</span> Is your child constantly doing cartwheels and tumbling about? Is your child constantly on ‘the move?’ Does your child love the ‘monkey bars?’ If yes, then KinderGym is the place to be! This program is designed to be an introduction to gymnastics (e.g., swings, statics/landings, rotations, springs, and tumbling) and is for children 4- to 6- years of age (i.e., kindergarten age) through a circuit format. The equipment will be kid-sized, although adult sized apparatuses will be used when appropriate. Classes will be 1-hour during the daytime (morning and afternoon classes).</p>

        <p><span class="dga-program-name">KinderGym Plus:</span> This program is the same as the KinderGym program but is 1.5 hours instead of 1 hour. It is designed for children who may want to pursue gymnastics more in the future or for parents who need a slightly longer class to tire out their child!</p>

        <p><span class="dga-program-name">Homeschool Gym:</span> In order to accommodate the active and vibrant homeschool community, we are offering 1.5-hour classes for all school aged children. Homeschoolers will learn a wide range of gymnastics disciplines, which will further enhance their fitness needs in a fun and exciting atmosphere.</p>*@

    <h4>Introductory Parkour</h4>
    <p><span class="dga-program-name">(Ages 7-12)</span></p>

    <p>Parkour is a training discipline using movement that developed from military obstacle course training. Practitioners aim to get from one point to another in a complex environment, without assistive equipment and in the fastest and most efficient way possible. It is a fun way to integrate all-around fitness since participants develop the following:</p>
    <ul>
        <li>Total-body core strength</li>
        <li>Coordination/balance</li>
        <li>Flexibility</li>
        <li>Endurance</li>
        <li>Self-improvement</li>
        <li>Self-understanding</li>
        <li>Quick-thinking skills</li>
        <li>Creativity</li>
        <li>Confidence</li>
    </ul>
    <p>Parkour training is ideal for those who want the absolute challenge and to push their limits.</p>

    <h4>Strength and Conditioning Training</h4>
    <p><span class="dga-program-name">(Ages 8+)</span></p>

    <p>Dakota Gymnastics Academy also offers programs for development and high-performance athletes. The program focuses on developing both upper and lower body strength to help enhance speed, reaction, body control, and rotary power. We can tailor our programs for your athletes. Please <a href="mailto:registration@dakotagymnasticsacademy.ca">contact us</a> for more information about how we can help you take your athletes to the next level.</p>

    <h4 id="adult-gymnastics">Adult Gymnastics</h4>

    <p>The adult gymnastics program is open to everyone who wants to try something new and stay in shape. The primary focus is healing your body using elements of gymnastics, integrated yoga and tai chi. No previous experience required!</p>

    <h4 id="private-lessons">Private Lessons</h4>

    <p>Dakota Gymnastics Academy also offers private lessons for athletes looking to get specific training. Rates are $70 per hour. Please <a href="mailto:registration@dakotagymnasticsacademy.ca">contact us</a> for more information if you are interested.</p>

</div>
