@{
    ViewBag.Title = "About Dakota Gymnastics Academy";
}

<div id="body" class="margin-top-medium">
    <h3>@ViewBag.Title</h3>

    <h4 id="aboutus" class="jumptarget">About Us</h4>
    <p><a href="http://www.gymcan.org/" target="_blank">Gymnastics Canada</a> provides the operating standards and practices for the sport of gymnastics in Canada and works with the twelve Provincial Gymnastics Federations (including <a href="http://www.gymnastics.mb.ca/" target="_blank">Manitoba Gymnastics</a>). Thus, the mission of Dakota Gymnastics Academy (DGA) mirrors that of Gymnastics Canada: <i>“to promote and provide positive and diverse gymnastics experience through the delivery of quality and safe gymnastics programming.”</i> Put another way, our philosophy as well as Gymnastics Canada’s is to ensure that all participants have <b>FUN</b> with gymnastics, gain <b>FITNESS</b> through gymnastics, and learn sound <b>FUNDAMENTALS</b> of gymnastics.</p>

    <p>We believe that creativity, variation, and repetition in a safe, fun, and inclusive environment will help young people learn gymnastics successfully – not to mention other important life skills.</p>

    <h4 id="coaches" class="jumptarget">Our Coaches</h4>

    <p>The main coaching staff collectively have over 70 years of coaching experience within a wide array of gymnastics disciplines. All DGA coaches are certified NCCP levels 1 to 3 and have an excellent rapport with children. Coaches have undergone both criminal record and child abuse registry checks.</p>

    <p>The Head Coach of GDA is Adik Isakov who is a Level 3 NCCP men’s and women’s artistic gymnastics coach. Adik has over 30 years of experience coaching, which also include the increasingly popular Acrobatics gymnastics. He is certified in First Aid and CPR/AED as well as Respect in Sport and Make Ethical Decisions through the Coaching Association of Canada. As a former gymnast, Adik received the Soviet Master Sport and was a member of the Soviet National Team</p>
    
    <p>For a second straight year, Adik has been awarded the <a href="/Content/images/Adik-Order-Sport-Excellence.jpg" target="_blank">Sport Manitoba Order of Sport Excellence</a> for his contributions to gymnastics in Manitoba!</p>

    <h4 id="ourgym" class="jumptarget">Our Gym</h4>

    <p>We are currently operating out of the gym located in the Manitoba Korean Presbyterian Church located at <a href="https://www.google.ca/maps/place/621+Oxford+St,+Winnipeg,+MB+R3M+3J3" target="_blank">621 Oxford St</a> in River Heights. The gym is a wonderful space that allows us to offer a wide variety of programming including birthday parties, school PD day camps and spring break camps!</p>
        
    <p>Our training area includes a competition sized floor for tumbling and other manoeuvres as well as space for training in vault, beams, bars, rings, parallel bars, and pommel horse. The space also includes a tumble air track, mini trampolines, preschool-sized equipment and variety of teaching props.</p>

    <img src="~/Content/images/carousel-1.jpg" class="dga-facility-img" />

    <p>Dakota Gymnastics Academy is a member club with Manitoba Gymnastics (who works with Gymnastics Canada). We provide recreational and entry competitive programming for the gymnastics disciplines of men’s and women’s artistic gymnastics and acrobatic gymnastics. We also provide auxiliary training for athletes from other sport disciplines (e.g., hockey, ringette, and figure skating).</p>

    <h4 id="whygymnastics" class="jumptarget">Why Choose Gymnastics?</h4>

    <p>According to the International Olympic Committee as well as Sport Canada, gymnastics is recognized as one of the three foundation sports for all other sports. Universally, gymnastics is a popular sport. Within Canada, it is one of the fastest growing sports among children and youth. Currently, there are over 300,000 individual gymnasts in Canada, including 20,000 competitive gymnasts. Canada is also beginning to be recognized as a world contender in the sport, and for the first time in the nation’s history in 2017 it hosted the World Artistic Gymnastics Championships in Montreal, Québec.</p>
</div>