@{
    ViewBag.Title = "Contact Dakota Gymnastics Academy";
}
<div id="body" class="margin-top-medium">
    <h3>Contact Us</h3>

    <div>
        <div class="col-md-12">
            <span class="font-weight-bold">Questions about programs or registration:</span>&nbsp;<a href="mailto:registration@dakotagymnasticsacademy.ca">registration@dakotagymnasticsacademy.ca</a> or by phone <span class="font-weight-bold">431-777-0496</span>.
        </div>
        <div class="col-md-12 margin-top-medium">
            <span class="font-weight-bold">Payments by e-transfer:</span>&nbsp;<a href="mailto:payment@dakotagymnasticsacademy.ca">payment@dakotagymnasticsacademy.ca</a> - please be sure to include your child(ren)s name in the message!
        </div>
        <div class="col-md-12 margin-top-medium">
            <span class="font-weight-bold">Website technical support:</span>&nbsp;<a href="mailto:webmaster@dakotagymnasticsacademy.com">webmaster@dakotagymnasticsacademy.com</a>
        </div>
        <div class="col-md-12 margin-top-medium">
            <span class="font-weight-bold">Normal Hours of Operation</span>
            <table class="margin-top-tiny margin-left-indent">
                <tr>
                    <td class="font-weight-bold">
                        Monday:
                    </td>
                    <td>
                        4:30pm - 8pm
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Tuesday:
                    </td>
                    <td>
                        4:30pm - 8pm
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Wednesday:
                    </td>
                    <td>
                        4:30pm - 8pm
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Thursday:
                    </td>
                    <td>
                        4:30pm - 8pm
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Friday:
                    </td>
                    <td>
                        4:30pm - 8pm
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Saturday:
                    </td>
                    <td>
                        10:00am - 5pm
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Sunday:
                    </td>
                    <td>
                        Closed
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="col-md-12 margin-top-medium">
            <span class="font-weight-bold">Our location:</span>&nbsp;<a href="https://www.google.ca/maps/place/621+Oxford+St,+Winnipeg,+MB+R3M+3J3" target="_blank">621 Oxford Street, Winnipeg MB, R3M 3J3</a>
        </div>
        <div class="col-md-12 align-content-center">
            <image src="/content/images/location-map.png" width="700" height="470" />
        </div>

        
    </div>
</div>