@{
    ViewBag.Title = "News Archive - Dakota Gymnastics Academy";
}

<div id="body" class="margin-top-medium">
    <h3>News Archive</h3>

    <div class="news-text-front-page margin-top-small margin-bottom-small">&#x25FE; Gym will be closed Monday October 14 and Monday November 11</div>
    <div class="news-text-front-page margin-top-small margin-bottom-small">&#x25FE; Winter break December 22nd - January 5th</div>
    <br />
   
</div>
