@{
    ViewBag.Title = "Birthdays - Dakota Gymnastics Academy";
}
<div id="body" class="margin-top-medium">
    <h3>Birthday Parties</h3>

    <p>Saturdays 11:00 to 1:00 or 1:00 to 3:00</p>

    <div>$150 +GST for up to 10 kids</div>
    <div>$5 +GST per additional child, maximum 15 kids</div>
    <br />

    <p>Includes:</p>
    <ul>
        <li>1-hour gymnastics class led by NCCP certified coaches</li>
        <li>1-hour in the party area
    </ul>
    
    <p>Parents supply plates, cups, etc. and clean up the party room/area after.</p>

    <p>$50 non-refundable deposit is required</p>

    <p>Children should be dressed in clothing that they can easily move around in that is free of strings, zippers, hoods, etc. Bracelets, necklaces, earrings (other than small studs), or other jewelery is prohibited as they can cause serious injury.</p>

    <p>Email us at <a href="mailto:registration@dakotagymnasticsacademy.ca">registration@dakotagymnasticsacademy.ca</a> or call 431-777-0496 to reserve your spot today!</p>

    <h5>It’s FUN to FLIP!</h5>
</div>
