@{
    ViewBag.Title = "Camps - Dakota Gymnastics Academy";
    var PdfSpringBreakCamp = @Url.Content("~/Content/documents/Dakota Gymnastics Academy - 2019 Spring Break Camp.pdf?revision=") + DateTime.Now.Ticks.ToString();
}

<div id="body" class="margin-top-medium">
    <h2>Camps</h2>

    <p>Email us at <a href="mailto:registration@dakotagymnasticsacademy.ca">registration@dakotagymnasticsacademy.ca</a> or call <span style="font-weight: bold">431-777-0496</span> to reserve your spot today!</p>

    <h5>It’s FUN to FLIP!</h5>

    <h4 id="springBreak" class="jumptarget"><a href="@PdfSpringBreakCamp" target="_blank">Spring Break Camp 2019</a></h4>

    <p><span style="font-weight: bold">Ages 4+ years</span></p>

    <p><span style="font-weight: bold">Pricing:</span></p>
    <ul class="list-unstyled">
        <li>$190/full week</li>
        <li>$42/full day (9:00 to 4:00)</li>
        <li>$100/half day week</li>
        <li>$26/half day (9:00 to 12:00 or 1:00 to 4:00)</li>
        <li><span class="font-weight-bold">Please note that payment is due when registering.</span></li>
    </ul>

    <p>Pick up and drop off free of charge 30 minutes before or after. Additional care available upon request.</p>

    <p>Additional children in a family receive 10% off</p>

    <p>
        Gymnastics programming for all levels and abilities!<br />
        Crafts, games, and outside play (weather permitting)
    </p>

    <p>Camp Notes:</p>
    <ul>
        <li>Half day (bring a nut free snack) / Full day (bring two snacks and a lunch – all nut free)</li>
        <li>Please bring a water bottle (labeled with child’s name)</li>
        <li>Outdoor play (weather permitting); please send appropriate outdoor wear</li>
        <li>$45 non-refundable annual registration fee for Manitoba Gymnastics members and insurance is required with your registration (once-a-year fee for each gymnast, valid from Sept. 1st to Aug. 31st annually for those registered in any gymnastics program at any club in Manitoba). Not included in base pricing.</li>
    </ul>

    <p>Children should be dressed in clothing that they can easily move around in that is free of strings, zippers, hoods, etc. Bracelets, necklaces, earrings (other than small studs), or other jewellery is prohibited as they can cause serious injury.</p>

    <h4 id="summerCamps" class="jumptarget">Summer Camps 2019</h4>

    <p>Looking for ways to keep your kids active during the summer? We offer full- and half-day camps to keep kids learning, moving, and having fun! </p>

    <h5>Gymnastics</h5>
    <p>Gymnastics is a great activity for physical literacy as it is considered by Sports Canada as one of the three foundation sports for all other sports; meaning, no matter what sport a child eventually plays, gymnastics provides a solid base. The overarching theme of the camp is for all participants to have fun doing gymnastics in a safe and supportive environment! Participants will be grouped by age and level</p>

    <h5>Parkour</h5>
    <p>The parkour camp is based on military obstacle course training as well as fundamental movement patterns from gymnastics. During the camp, kids will learn to perform core parkour skills and apply them through obstacle courses and games (inside and throughout the neighbourhood) in a safe environment where they will learn to challenge themselves, build confidence, and have lots of fun doing it!</p>

    <h5>Acrobatics</h5>
    <p>Acrobatics involves partnerships of gymnasts working together to perform acrobatic moves, dance, and tumbling within choreographic routines set to music. The sport is physically demanding as it requires strength, agility, flexibility, balance, and acrobatic skills; yet it also involves artistic ability and creativity, which provides an avenue for participants to express themselves and shine!</p>

    <p><span style="font-weight: bold">Ages 4+ years</span></p>

    <p><span style="font-weight: bold">Pricing:</span></p>
    <ul class="list-unstyled">
        <li>$190/full week</li>
        <li>$42/full day (9:00 to 4:00)</li>
        <li>$100/half day week</li>
        <li>$26/half day (9:00 to 12:00 or 1:00 to 4:00)</li>
        <li><span class="font-weight-bold">Please note that payment is due when registering.</span></li>
        <li><span style="font-style: italic">Short weeks are priced by day ($152/full or $80/half per week)</span></li>
    </ul>

    <p>Pick up and drop off free of charge 30 minutes before or after. Additional care available upon request.</p>

    <p>Additional children in a family receive 10% off.</p>

    <p>
        Gymnastics programming for all levels and abilities!<br />
        Crafts, games, and outside play (weather permitting)
    </p>

    <p>Camp Notes:</p>
    <ul>
        <li>Before and after care available upon request</li>
        <li>Half day (bring a nut free snack) / Full day (bring two snacks and a lunch – all nut free)</li>
        <li>Please bring a water bottle (labeled with child’s name)</li>
        <li>Outdoor and water play (weather permitting); please send a swimsuit, towel, hat, and sun screen</li>
        <li>Children should be dressed in clothing that they can easily move around in that is free of strings, zippers, hoods, etc. Bracelets, necklaces, earrings (other than small studs), or other jewellery is prohibited as they can cause serious injury.</li>
        <li>$45 non-refundable annual registration fee for Manitoba Gymnastics members and insurance is required with your registration (once-a-year fee for each gymnast, valid from Sept. 1st to Aug. 31st annually for those registered in any gymnastics program at any club in Manitoba). Not included in base pricing.</li>
    </ul>


    <h4 id="pdDays" class="jumptarget">PD Day Camps</h4>

    <p>PD Day Camp information coming soon! PD Days are: March 15, April 26, & May 6</p>

    <h4 id="decemberBreak" class="jumptarget">Winter Break Camp 2019</h4>

    <p>Information about our Winter Break camp will be posted in the fall of 2019.</p>

</div>