@{
    ViewBag.Title = "Camps - Dakota Gymnastics Academy";
}

<div id="body" class="margin-top-medium">
    <h2>Camps</h2>

    <p>Email us at <a href="mailto:registration@dakotagymnasticsacademy.ca">registration@dakotagymnasticsacademy.ca</a> or call <span style="font-weight: bold">431-777-0496</span> to reserve your spot today!</p>

    <h5>It’s FUN to FLIP!</h5>

    <h4 id="springBreak" class="jumptarget">Spring Break Camp March 30th - April 3rd 2020</h4>

    <p>
    Come and join us at Dakota Gymnastics Academy for a fun Spring Break Camp filled with gymnastics, games, crafts and more!<br/>
    For girls and boys from age 4 years old to teens.<br/>
    Half and full days options available:<br/>
    Full day 9-4 pm ( early and late drop off available)<br />
    Half day 9-12 or 1-4 pm<br/>
    </p>
    <p>
        <span class="font-weight-bold">Prices:</span><br />
        Weekly full day: $190+GST<br />
        Weekly half day: $105+GST<br />
        Daily full day: $44+GST<br />
        Daily half day: $25+GST<br />
    </p>
    <p><br>Annual insurance for non-members $45 (valid September 1st-August 31st).<br/>
    <span class="font-italic">*not applicable for those registered in a gymnastics program for the 2019-2020 season at any gymnastics club in Manitoba.</span><br />
    <br>Payment is due upon registration.<br/>
    Please bring a lunch, snacks and water bottle each day.<br/>        
    No jewellery please.<br/>
    </p>

</div>