@{
    ViewBag.Title = "Camps - Dakota Gymnastics Academy";
    var PdfSpringBreakCamp = @Url.Content("~/Content/documents/Dakota Gymnastics Academy - 2019 Spring Break Camp.pdf?revision=") + DateTime.Now.Ticks.ToString();
}

<div id="body" class="margin-top-medium">
    <h2>Camps</h2>

    <p>Email us at <a href="mailto:registration@dakotagymnasticsacademy.ca">registration@dakotagymnasticsacademy.ca</a> or call <span style="font-weight: bold">431-777-0496</span> to reserve your spot today!</p>

    <h5>It’s FUN to FLIP!</h5>

    <h4 id="decemberBreak" class="jumptarget">Winter Break Camp 2020</h4>

    <p>Information about our Winter/Spring Break camp will be posted later</p>

</div>