@{
    ViewBag.Title = "Field Trips - Dakota Gymnastics Academy";
}
<div id="body" class="margin-top-medium">
    <h3>Field Trips</h3>

    <p>Field trips are offered to schools, daycares, home school groups, and any other organization looking to get their kids active during the day. Field trips at DGA are designed to meet the Manitoba physical education curriculum, or just to have some fun as a special outing!</p>

    <p>Gymnastics is a great activity for physical literacy as it is considered by Sports Canada as one of the three foundation sports for all other sports; meaning, no matter what sport a child eventually plays, gymnastics provides a solid base. Plus it is fun to flip!</p>

    <p>We offer age and ability appropriate activities by NCCP certified coaches that challenge each participant in a safe, constructive, and fun atmosphere where the foci is a combination of an increase in confidence and in activity.</p>

    <p>Field trips are 90 in length. Children will participate in a cardio warmup, and then rotate through various gymnastics apparatuses including floor, beam, bars, rings, and trampoline. We aim to provide progressive challenges at each visit to keep children interested and challenged!</p>

    <p>Email us at <a href="mailto:registration@dakotagymnasticsacademy.ca">registration@dakotagymnasticsacademy.ca</a> or call 431-777-0498 to reserve your spot today!</p>

    <p><span class="font-weight-bold">Rates</span><br />$7.50 for 90 minutes per student<br /><span class="font-italic">Applies to advance bookings with 10 or more children</span></p>
    <p><span class="font-weight-bold">Attire</span><br />Children should be dressed in clothing that they can easily move around in that is free of strings, zippers, hoods, etc. Bracelets, necklaces, earrings (other than small studs), and other jewelery is prohibited as they can cause serious injury.</p>
</div>
