@{
    ViewBag.Title = "Programs - Dakota Gymnastics Academy";
}
<div id="body" class="margin-top-medium">
    <h2>@ViewBag.Title</h2>

    <p>Dakota Gymnastics Academy offers a wide variety of programs from parent-and-tots to competitive gymnastics. Our programming centres around four popular gymnastics disciplines: women’s artistic gymnastics, men’s artistic gymnastics, acrobatic gymnastics, and gym-for-all. </p>

    <p><b>The 2020 Winter-Spring Schedule can  be found on the @Html.ActionLink("Registration Page", "Index", "Registration", null, null)!</b></p>

    <h6 style="color: red;">
        @*<p>Depending on demand of certain programs, we may make changes to accomodate as best we can.</p>*@
        @*<p>Not sure if your child will like gymnastics? We are also happy let your child come and try it out for a class. Drop-in rates ($15/class) apply and if you do decide to enroll, it would go towards the overall cost of registration.</p>*@
        @* <p>Please note that unless the class specifically states it is drop-in only, participants must register after dropping in for two classes if they wish to continue.</p>*@
        <p>We offer one-time tryout/assessment class. Price for 1 hour class is $15. Price for 1.5 hour class is $20.</p>
        <p>We would also love it if you stopped by with your child to see our facility, meet the coaches and watch a class!</p>
    </h6>

    <h4 id="activeStart" class="jumptarget">Active Start Gymnastics</h4>

    <p>Active Start is the foundation for all gymnastics disciplines and is recognized by the International Olympic Committee as it plays a critical part in the development of all fundamental movement patterns and skills found in almost every sport including all the gymnastics disciplines. We offer the following programs:</p>

    <p><span class="dga-program-name">Parent-and-Tot (18-36 months):</span> The parent-and-tot program is designed for children 18 to 36-months of age. Having a parent/guardian with the toddler will help him/her feel safer and more comfortable; two prerequisites to help youngsters explore and learn. Classes are offered during the day and are 1-hour in length. The focus of the program is on an introduction to gymnastics movements (e.g., rolls, jumps, hangs, and trampolines). Throughout the program toddlers will develop flexibility, strength, sensory recognition, spatial awareness, motor skills, and social skills through interaction with same-age peers.</p>

    <p><span class="dga-program-name">Active Start Boys &amp; Girls Gymnastics (Age 3-5): </span> The active start program will provide a foundation for all gymnastics disciplines and will focus on the development of all fundamental movement patterns and skills found in almost every sport including gymnastics.</a></p>

    <h4 id="womenArtistic" class="jumptarget">Women’s Artistic Gymnastics</h4>

    <p>Women’s Artistic Gymnastics is the most well-known and popular of all the gymnastics disciplines. Female athletes train on four apparatus, which include the vault, beam, uneven bars, and floor routines.</p>

    <p><span class="dga-program-name">Women's Recreational Artistic Gymnastics (Age 7+):</span> The overarching theme of the recreational stream is for all participants to have fun doing gymnastics in a safe and supportive environment. Girls will be grouped by age and level, and will be assessed at the end of the term through a detailed report card /level system. Participants will showcase their progress at the end of the program term.</p>

    <p><span class="dga-program-name">Women’s Advanced Recreational, Pre-competitive Program and Competitive:</span> For athletes looking to further advance their gymnastics skills, we are providing a pre-competitive program. According to Gymnastics Canada, the Junior Olympic program “was developed with the belief that all athletes, regardless of their potential, must have a solid foundation of basic skills in order to advance safely.” A higher level of commitment is required of both athletes and parents in the competitive program as they will train multiple times a week. Athletes will compete at local, regional, and provincial competitions. All athletes must be assessed before entry into the pre-competitive and competitive program. </p>

    <h4 id="menArtistic" class="jumptarget">Men’s Artistic Gymnastics</h4>

    <p>Men’s Artistic Gymnastics is based on power, strength, and control. It involves mastery of following six apparatus: floor exercises, pommel horse, rings, vault, parallel bars, and the horizontal bar. </p>

    <p><span class="dga-program-name">Men's Recreational Artistic Gymnastics (Age 7+):</span> The overarching theme of the recreational stream is for all participants to have fun doing gymnastics in a safe and supportive environment. Boys will be grouped by age and level, and will be assessed at the end of the term through a detailed report card/level system. Participants will showcase their progress at the end of the program term.</p>

    <p><span class="dga-program-name">Competitive and Pre-competitive Program:</span> For athletes looking to further advance their gymnastics skills, we are providing a pre-competitive program. A higher level of commitment is required of both athletes and parents in the pre-competitive program as they will train multiple times a week. All athletes must be assessed before entry into the competitive and pre-competitive programs.</p>

    <h4 id="acrobatic" class="jumptarget">Acrobatic Gymnastics</h4>

    <p>Acrobatics Gymnastics involves partnerships of gymnasts working together to perform acrobatic moves, dance, and tumbling within choreographic routines set to music. Partnerships are based on: women’s pairs, men’s pairs, mixed pair, women’s trio, and men’s four. Acrobatics Gymnastics is physically demanding as it requires strength, agility, flexibility, balance, and acrobatic skills; yet it also involves artistic ability and creativity, which provides an avenue for participants to express themselves and shine. Dakota Gymnastics Academy offers recreational and pre-competitive programs in Acrobatic gymnastics.</p>

    <p><span class="dga-program-name">Recreational Program (Age 6+):</span> This program provides classes for boys and girls, ages 6 year and older, and will focus on individual, partner and group gymnastics. Participants will learn basic floor gymnastics skills, choreography and routines, and will have an opportunity to showcase their progress at the end of the term. </p>

    <p><span class="dga-program-name">Pre-competitive Program (Age 6+):</span> This program is similar to the recreational program but with a greater focus on developing higher skills and more individual tumbling elements as well as more complex choreography, dance basics and routine presentation. A higher level of commitment is required of both athletes and parents in the competitive program as they will <i>train multiple times per week</i>. All athletes must be assessed before entry into the pre-competitive program.</p>
    <p><b style="color:darkblue">Note: Pre-competitive athelets in acrobatic gymnastics must train a minimum of two times per week.</b></p>

    <h4 id="parkour" class="jumptarget">Introductory Parkour</h4>
    <p><span class="dga-program-name">(Ages 7-12)</span></p>

    <p>Parkour is a training discipline using movement that developed from military obstacle course training. Practitioners aim to get from one point to another in a complex environment, without assistive equipment and in the fastest and most efficient way possible. It is a fun way to integrate all-around fitness since participants develop the following:</p>
    <ul>
        <li>Total-body core strength</li>
        <li>Coordination/balance</li>
        <li>Flexibility</li>
        <li>Endurance</li>
        <li>Self-improvement</li>
        <li>Self-understanding</li>
        <li>Quick-thinking skills</li>
        <li>Creativity</li>
        <li>Confidence</li>
    </ul>
    <p>Parkour training is ideal for those who want the absolute challenge and to push their limits.</p>

    <h4 id="conditioning" class="jumptarget">Strength and Conditioning Training</h4>
    <p><span class="dga-program-name">(Ages 8+)</span></p>

    <p>Dakota Gymnastics Academy also offers programs for development and high-performance athletes. The program focuses on developing both upper and lower body strength to help enhance speed, reaction, body control, and rotary power. We can tailor our programs for your athletes. Please <a href="mailto:registration@dakotagymnasticsacademy.ca">contact us</a> for more information about how we can help you take your athletes to the next level.</p>

    <h4 id="adult" class="jumptarget">Adult Gymnastics</h4>

    <p>The adult gymnastics program is open to everyone who wants to try something new and stay in shape. The primary focus is healing your body using elements of gymnastics, integrated yoga and tai chi. No previous experience required!</p>


    <h4 id="adult" class="jumptarget">Wushu Martial Arts</h4>

    <p>Wushu (武术) is the translation of the term "martial arts" and represents the combat systems that originated and developed in China.  Over many centuries, Wushu evolved into hundreds of different styles across the country's unique geographic regions, with each producing a distinct set of self-defense principles and fighting weapons.  Wushu also evolved into a way for personal development to cultivate the mind, body and spirit.</p>

    <h4 id="adult" class="jumptarget">Rehabilitation and Healing</h4>

    <p>To become at peace with ourselves is the key to healing. Rehabiliation and healing classes focus on learning how to get in touch with your body, mind and spirit through the practice of integrated yoga, gigong, tai chi and gymnastics.</p>

    <h4 id="private" class="jumptarget">Private Lessons</h4>

    <p>Dakota Gymnastics Academy also offers private lessons for athletes looking to get specific training. Rates are $70 per hour. Please <a href="mailto:registration@dakotagymnasticsacademy.ca">contact us</a> for more information if you are interested.</p>

</div>
